---
import BlockRenderer from "../components/BlockRenderer.astro";
import CommonHead from "../components/CommonHead.astro";

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `query PageQuery {
      nodeByUri(uri: "/") {
    id
    ... on Page {
      id
      blocks
      seo {
        metaDesc
        title
      }
    }
  }
    }`,
  }),
});

const { data } = await response.json();
const blocks = data?.nodeByUri?.blocks || [];
const seo = data?.nodeByUri?.seo;
// console.log(data);
---

<html lang="en">
  <CommonHead title={seo.title || ""} description={seo.metaDesc || ""} />
  <body>
    <!-- <h1>Astro</h1>
    <p class="text-blue-500 font-bold">Tailwind Test</p> -->
    <BlockRenderer {blocks} />
  </body>
</html>
