---
import { replaceUrl } from "../utils/replaceUrl";
type Props = {
  classes: string;
  styles: string;
  label: string;
  url: string;
};
const { classes, styles, label, url } = Astro.props;

const href = replaceUrl(url, Astro.url.host);
---

<li class={classes} style={styles}>
  <a href={href}> {label}</a>
</li>
